*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #0000;
    /*color: #ffff;*/
}
#header{
    width: 100%;
    height: 100vh;
    background: url('p2.jpeg');
    background-size: cover;
    background-position: center;
}
#header i{
    color: white;
}
span{
    color: #f9004d;
}
.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 0cqw1px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: #f9004d;
    transition: .4s;
}
.header-text{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}
.header-text p{
    color: white;
    letter-spacing: 2px;
    font-size: 20px;
}
.header-text h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 60px;
}
.img{
    height: 661px;
    width: 421px;
}
#about{
    width: 100%;
    padding: 100px 0px 10px;
    background-color: #04041a;
}
#about img{
    height: auto;
    width: 430px;
    padding-bottom: 74px;
}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    text-transform: capitalize;
    margin-bottom: 25px;
}
.about-text p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 26px;
    font-size: 18px;
    margin-bottom: 139px;
    margin-top: 32px;
}
.about-text h4{
    color: white;
}
.tab-titles{
    display: flex;
    margin: 20px 19px 40px;
}
.tab-links{
    margin-right: 89px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    margin-top: -120px;
    color: white;
}
.tab-links:hover{
    color: #f9004d;
    transition: .4s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    color: white;
    line-height: 25px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
#service{
    background-color: #04041a;
    width: 100%;
    padding: 100px 0px;
}
.title h2{
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.box1{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}
.card{
    height: 365px;
    width: 370px;
    padding: 20px 35px;
    background-color: #0d0d4b;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #f9004d;
}
h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}
.pra p{
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}
.card .button{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}
.card .button:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}
#works{
    background-color: #04041a;
    width: 100%;
    padding: 100px 0px;
}
.icard{
    height: 365px;
    width: 370px;
    padding: 20px 35px;
    background-position: center;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}   
.icard img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.layer{
    height: 148px;
    width: 370px;
    padding: 3px 35px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    line-height: 27px;
}
.layer h3,p{
    color: white;
}
.layer .button{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 3px 15px;
    border-radius: 30px;
    transition: .4s;
}
.layer a{
    height: 365px;
    width: 370px;
    padding: 30px 35px;
}
.layer .button:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}
.see-more .btn{
    display: block;
    margin: -15px auto;
    width: fit-content;
    padding: 14px 50px;
    border-radius: 6px;
}
.see-more a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
.see-more a:hover{
    color: #f9004d;
    transition: .4s;
}
#contact-me{
    background-color: #04041a;
    width: 100%;
    padding: 100px 0px;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact-left{
    flex-basis: 30%;
    margin-left: 170px;
}
.contact-right{
    flex-basis: 50%;
}
.contact-left h1{
    color: white;
    font-size: 65px;
}
.contact-left p{
    margin-top: 20px;
}
.contact-left p i{
    color: #f9004d;
    margin-right: 15px;
    font-size: 20px;
}
.social-icons a{
    text-decoration: none;
    font-size: 25px;
    margin-right: 15px;
    color: white;
    display: inline-block;
    margin-top: 20px;
}
.social-icons a:hover{
    color: #f9004d;
    transition: .4s;
    transform: translateY(-5px);
}
.contact-right .button{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 11px 16px;
    border-radius: 30px;
    transition: .4s;
}
.contact-right .button:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 85%;
    border: 0;
    outline: none;
    background: #0d0d4b;
    padding: 15px;
    margin: 15px 0;
    color: white;
    font-size: 18px;
    border-radius: 6px;
}
footer{
    position: relative;
    width: 100%;
    height: 100px;
    background: #04041a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#msg{
    color: #f9004d;
    margin-top: 20px;
    display: block;
}
#header i{
    display: none;
}
@media only screen and (max-width: 600px){
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    #header i{
        display: block;
        font-size: 25px;
    }
}